@include  tablet{
    .contenedor-anuncios{
        @include grid(3,2rem);
        overflow: hidden;
    }
}

.anuncio{
    overflow: hidden;
    background-color: lighten(#e1e1e1,5);
    border:1px solid lighten($gris,9);
    margin-bottom: 2rem;

    .contenido-anuncio{
       padding: 2rem;
      
    } 

   

    h3, p{
        margin: 0;
    }

    
}

.precio{
    color: $verde;
    font-size: 2.4rem;
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex:1;
        display: flex ;
        img{
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
    }
}