.footer{
   
    padding: 5/ 2  0rem;
    background-color:#333333;
    padding: 1rem 0 3rem 0 ;
    margin-bottom: 0px;

    .contenedor-footer{
        padding-top: 5 / 2;
    }

    .navegacion{
      visibility:  visible;
      opacity: 1;
      height: auto;
    }

    .copyright{
      color:#fff;
      text-align: center;
    }
}